.aboutUsPage {
    background: url('/Assets//Images//1142039.jpg') no-repeat center center fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    white-space: normal;
}
