body {
    background: url('/Assets/Images/slate-texture-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    white-space: normal;
}

.container {
    display: flex;
    flex-direction: column; /* Stacks form and cards vertically */
    align-items: center; /* Centers content horizontally */
  
}

/* Cards wrapper to control the row layout */
.cards-wrapper {
    font-family: "Abril Fatface", serif;
    display: flex;
    flex-direction: row; /* Cards in a row */
    flex-wrap: wrap; /* Wraps cards if they exceed width */
    justify-content: center; /* Centers cards horizontally */
    gap: 1rem; /* Spacing between cards */
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: Limits width on large screens */
}

.card-container {
    display: flex;
    justify-content: center; /* Centers the card inside its container */
    flex: 0 1 auto; /* Prevents squishing */
}

.card {
    width: 16rem;
    height: 20rem;
    background: rgb(73, 72, 72);
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    color: black;
    font-size: 30px;
    margin: 2rem;
}

    .card:hover {
        border-radius: 15px;
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
        background: rgb(57, 57, 57);
    }

.first-content {
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    color: #FFFFFF;
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.card-img-top {
    object-fit: cover;
    width: 90%;
    height: 70%;
    padding: 1rem;
    border-radius:2rem;
}

.card-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.card-text {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}
.card-link
{
    text-decoration: none;
    color:inherit;
}
.barbers-index-title{
    margin-bottom:2%;
    position:relative;
    width:100%;
}
    .barbers-index-title h1 {
        font-size: 4rem;
        font-family: "Abril Fatface",serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        color: #FFFFFF;
    }