html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.customnavbar li a {
    transition: transform .25s, visibility .25s ease-in;
    margin: 0 auto;
    overflow: hidden;
}
.customnavbar li a:hover{
        transform: scale(1.1);
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2d2e32;
    border: 2px solid #2d2e32;
    transition: all 0.45s;
}

    .button:hover {
        transform: rotate(360deg);
        transform-origin: center center;
        background-color: #ffff;
        color: #2d2e32;
    }

        .button:hover .btn-svg {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
        }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
