@model DNBarbershop.Models.Entities.Speciality
<html>
<head>
</head>
<body>
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="Type"></label>
            <input type="text" class="form-control" asp-for="Type">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>