@model DNBarbershop.Models.Entities.Barber
<html>
    <head>
        
    </head>
    <body>
        
<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName"></label>
        <input  type="text" class="form-control" asp-for="FirstName" >
       
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName"></label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
        <div>
            <label> Choose Speciality
                <select asp-for="SpecialityId" asp-items="@ViewBag.Specialities">
                    <option value="">Choose Speciality</option>    
                </select>
            </label>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ExperienceYears"></label>
            <input type="text" class="form-control" asp-for="ExperienceYears">
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ProfilePictureUrl"></label>
            <input type="text" class="form-control" asp-for="ProfilePictureUrl">
        </div>
    <button type="submit" class="btn btn-primary" asp-action="Add" asp-controller="Barber">Submit</button>
</form>
    </body>
</html>