@model DNBarbershop.Models.Entities.Barber
<html>
    <head>
        
    </head>
    <body>
        
<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName"></label>
        <input  type="text" class="form-control" asp-for="FirstName" >
       
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName"></label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Speciality"></label>
            <input type="text" class="form-control" asp-for="Speciality">
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </body>
</html>