@model DNBarbershop.Models.Entities.Service
<!DOCTYPE html>
<html>
<head>
</head>
<body class="crudOperationsView">
    <div class="container mt-4">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="card shadow-sm p-4 rounded" style="width: 100%; max-width: 600px;">
                <h3 class="text-center text-white fw-bold mb-4">Добави Услуга</h3>
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-semibold" asp-for="ServiceName">Име на услуга</label>
                                <input type="text" class="form-control" asp-for="ServiceName" placeholder="Въведете име">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label fw-semibold" asp-for="Description">Описание на услугата</label>
                                <input type="text" class="form-control" asp-for="Description" placeholder="Въведете описание">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold" asp-for="Price">Цена</label>
                        <input type="number" class="form-control" asp-for="Price" placeholder="Въведете цена" min="0">
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold" asp-for="Duration">Продължителност</label>
                        <div class="d-flex">
                            <input type="number" id="Hours" name="DurationHours" class="form-control me-2" placeholder="Часове" min="0" value="1" />
                            <input type="number" id="Minutes" name="DurationMinutes" class="form-control" placeholder="Минути" min="0" max="59" value="30" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" asp-action="Add" asp-controller="Service" class="btn btn-success px-4 py-2 shadow-sm">
                            <i class="bi bi-check-lg"></i> Запази
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
