<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DNBarbershop</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preload" href="../Assets/Fonts/Nordic Alternative Regular.ttf" asp-append-version="true"/> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav text-center">
                    <a class="nav-link active me-5" aria-current="page" asp-action="Index" asp-controller="Home">Начало</a>
                    <a class="nav-link me-5 ms-5" asp-action="Index" asp-controller="Home">Услуги</a>
                    <div class="container-fluid">
                        <a class="nav-link me-5" asp-action="Index" asp-controller="Home">
                            <img src="../Assets/Images/1000_F_205498258_AfQmtyR5kO5llwKd6fWRRxcc4xRUbQcb.jpg" style="height: 80px; width: 80px" class="rounded"  />
                        </a>                        
                    </div>
                    <a class="nav-link me-5 ms-5" asp-action="Index" asp-controller="Home">Barbers</a>
                    <a class="nav-link me-5 ms-5" asp-action="Index" asp-controller="Home">About us</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DNBarbershop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
