@using DNBarbershop.Models.Entities
@using DNBarbershop.Utility
@using Microsoft.AspNetCore.Identity
@using DNBarbershop.DataAccess
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="nav navbar-nav">
    @if (User != null)
    {
        @if (SignInManager.IsSignedIn(User)) 
        { 
            @if (User.IsInRole(SD.AdminRole))
            {
                <li>
                    <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/" style="display:inline; font-weight:bold;">
                        <button type="submit" class="hoverable" style="border:none; background:none; cursor:pointer; color:inherit;">Изход</button>
                    </form>
                </li>
            }
            else
            {
                <li>
                    <a id="manage" class="hoverable" asp-controller="User" asp-action="Details" title="Manage">Профил</a>
                </li>
                <li>
                    <form id="logoutForm" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/">
                        <button type="submit" class="hoverable" style="border:none; background:none; cursor:pointer; color:inherit;">Изход</button>
                    </form>
                </li>
            }
        }
        else
        {
            <li><a id="len1" class="hoverable" asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
            <li><a id="len1" class="hoverable" asp-area="Identity" asp-page="/Account/Login">Вход</a></li>
        }
    }
    else
    {
        <li><a id="len1" class="hoverable" asp-area="Identity" asp-page="/Account/Register">Регистрация</a></li>
        <li><a id="len1" class="hoverable" asp-area="Identity" asp-page="/Account/Login">Вход</a></li>

    }
</ul>