@{
    ViewData["Title"] = "About us";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/AboutUs.css">
</head>
<body class="aboutUsPage main-content">

</body>
</html>