@model DNBarbershop.Models.ViewModels.Messages.MessageCreateViewModel;
@{
    ViewData["Title"] = "About us";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/AboutUs.css">
</head>
<body class="aboutus-container main-content">
    <section class="aboutus-section-info">
        <div class="aboutus-information">
            <h2>Кои сме ние?</h2>
            <p>
                Добре дошли в D&amp;N Barbershop – място, където стилът и мъжката елегантност се срещат. Тук бръсненето не е просто обикновена процедура, а изтънчен ритуал, който съчетава майсторството на подстригването с вниманието към детайлите и усещането за принадлежност.

                Отворихме врати през 2014 г., за да създадем не просто бръснарница, а място, където мъжете могат да релаксират, да изглеждат добре и да се чувстват още по-добре. В D&amp;N Barbershop не става дума само за стилни прически, а за създаване на общност, където всеки клиент е приятел.
            </p>
        </div>
    </section>
    <section class="aboutus-section-foundation">
        <div class="aboutus-foundation-img">
            <img src="~/Assets/Images/Express+Retail+Group-220525-Joondalup-0825.jpg" alt="mitko i nejo" width="600px" height="500px"/>
        </div>
        <div class="aboutus-foundation-text">
            <h1>Как започнахме?</h1>
            <p>
                Идеята за D&N Barbershop се роди от желанието да създадем място, където мъжете не просто да се подстригват, но и да се чувстват специални. Всичко започна през 2014 г., когато решихме да променим представата за бръснарница и да предложим нещо повече – преживяване, което съчетава стил, комфорт и общност.
                Вдъхновени от класическите бръснарници на Запад, искахме да внесем същата елегантност и внимание към детайла тук, в нашия град. С много труд, страст и отдаденост създадохме пространство, където всеки клиент е не просто посетител, а част от семейството на D&N Barbershop.
                От самото начало нашата мисия беше ясна – да създадем място, където мъжете могат да се отпуснат, да изглеждат стилно и да се чувстват уверени. Днес продължаваме да следваме тази мисия с все същата страст, с която започнахме.
            </p>
        </div>
    </section>
    <section class="aboutus-section-contacts">
        <div class="contacts-row">
            <div class="contact-box">
                <h3>Адрес</h3>
                <p>Казанлък, ул. „Доктор Христо Баев“ 7</p>
            </div>
            <div class="contact-box">
                <h3>Работно време</h3>
                <p>Понеделник - Петък: 8:00~20:00</p>
                <p>Събота: 10:00~15:00</p>
                <p>Неделя - почивен ден</p>
            </div>
            <div class="contact-box">
                <h3>Контакт</h3>
                <p>0898746610 - Димитър К.</p>
                <p>0898584321 - Димитър Г.</p>
                <p>0884348593 - Неджо А.</p>
                <p>0884934959 - Боби К.</p>
            </div>
        </div>
    </section>
    <section class="aboutus-section-maps">
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.918977373753!2d25.390152075786908!3d42.62067431859742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a855977fe572c9%3A0x94e6681cea7720c6!2z0J_RgNC-0LPRgNC10YEsINGD0LsuIOKAntCU0L7QutGC0L7RgCDQpdGA0LjRgdGC0L4g0JHQsNC10LLigJwgNywgNjEwMCDQmtCw0LfQsNC90LvRitC6!5e0!3m2!1sbg!2sbg!4v1739727381341!5m2!1sbg!2sbg" width="700px" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact-form">
            <h2>Свържете се с нас</h2>
            <form action="#" method="post">
                <label asp-for="@Model.Email" class="form-label">E-mail</label>
                <input asp-for="@Model.Email" type="email"
                       pattern="[a-zA-Z0-9._%+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(\.[a-zA-Z]{2,})?"
                       class="form-control" autocomplete="username"
                       aria-required="true" placeholder="name@example.com" required />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                
                <label class="form-label fw-semibold" asp-for="Content">Съобщение</label>
                <textarea type="text" class="form-control" asp-for="Content" placeholder="Съобщение"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>

                <button type="submit" asp-action="Add" asp-controller="Message" class="btn btn-success px-4 py-2 shadow-sm">
                    <i class="bi bi-check-lg"></i> Запази
                </button>
                @Html.AntiForgeryToken();
            </form>
        </div>
    </section>
</body>
</html>