@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>

    </style>
</head>
<body class="HomePageBody">
    <div class="d-flex justify-content-center"><img src="~/Assets/Images/WELCOME_TO_D_N_BARBERSHOP-removebg-preview.png" alt="WELCOME TO D&N BARBERSHOP" /></div>

</body>
</html>
