@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
           
        </style>
    </head>
    <body class="HomePageBody">

    </body>
</html>
