@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body{
            background-image:url("../../Assets//Images/96955e5e-8602-438a-b05c-658fe17573c1.jpg");
            background-size:cover;
            margin: 0;
        }
    </style>
</head>
<body>
    
</body>
</html>
