    @{
        ViewData["Title"] = "Home Page";
    }
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" type="text/css" />
    </head>
    <body class="HomePageBody main-content">
        <div class="d-grid justify-content-center text-center text-light h1 welcomeText" style="font-size:70px; padding-top:30px;">
            WELCOME TO
            <br />
            D&amp;N BARBERSHOP
        </div>
    
    </body>
    </html>
