@page
@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Вход";
}
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="LoginView">
    <div class="LoginContainer text-center d-flex justify-content-center align-items-center text-white">
        <div class="text-center w-50 LoginDiv">
            <form id="account" method="post">
                <h1 class="m-4">@ViewData["Title"]</h1>
                <h2 class="p-3">Влезте в акаунта си.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label">Парола</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark">Вход</button>
                </div>
                <div>
                    <p>
                        <a class="text-light"  asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Нямате акаунт? Регистрирайте се бързо и лесно!</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <a href="/" class="back-button">← Към началната страница</a>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
